{% extends "layout.html" %}
{% from "components/card/template.html" import Card -%}

{% block article_body %}

<!-- <figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2F867b4c1e-b627-11e6-961e-a1acd97f622d?source=next&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption"></figcaption>
</figure>-->

{% markdown %}


Britain’s vote to leave the EU has made history, but even as Theresa May prepares to begin two years of crucial negotiations with Brussels, not all the key issues are fully understood.

Many relatively unfamiliar words, concepts and phrases will be at the heart of the debate about what kind of country the UK becomes once the divorce is complete — and what sort of relationship it will strike with the EU.

While last year’s referendum debate revolved around broad themes such as immigration and national identity, Britain’s future is wrapped up with more obscure subjects such as fishing quotas, budget payments and equivalence deals for financial companies. Here is the FT’s Brexit lexicon to guide you through the jargon.

{% endmarkdown %}


{# repeating card section starts #}
{% for item in cards.selected %}
{{ Card(item) }}
{% endfor %}
{# repeating card section ends #}


{# repeating card section starts #}
{% for item in cards.unfilled %}
{{ Card(item) }}
{% endfor %}
{# repeating card section ends #}

{% endblock %}
